<h1> <%= @user.name %> </h1>
<%= image_tag @user.avatar.url(:thumb) %>

<hr>
<h3>Posts</h3>

<% @user.posts.each do |post| %>
<ul>
  <li><%= link_to post.name, post_path(post) %></li>
</ul>
<% end %>

<% if is_admin? %>
  <%= link_to user_path(@user), data: {confirm: "Destroy User?", method: 'delete'} do %>
    <span class="glyphicon glyphicon-remove-sign red">Delete User</span>
  <% end %>
<% end %>
